<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="style-main.css">
    <link rel="stylesheet" href="style-register.css">
</head>
<body>
<div class="container-form">
    <div class="wrapper-form">
        <h2>Create a new Account</h2>
        <form class="register-form" action="">
            <input type="text" name="" id="" placeholder="Enter your email" autofocus>
            <input type="text" name="" id="" placeholder="Create a secure password">

            <button class="register-btn" id="register-btn">Register</button>
        </form>
    </div>



</div>

</body>
</html>